<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (user) { %> <!-- if user is loggged in-->
      <span class='navbar-text text-light mr-3'>
        Welcome, <%= user.email %>! <!--display the users email-->
      </span>
      <form method="POST" action="/logout" class="form-inline ml-2">
        <button type="submit" class="btn btn-outline-light">Logout</button>
      </form>
      <% } else { %> <!-- if user is not logged in-->
        <a href="/login" class="btn btn-outline-light ml-auto">Login</a>
        <a href="/register" class="btn btn-outline-light ml-2">Register</a>
        <% } %>
  </nav>
</header>